<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CS247 Project 3</title>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <script src='javascript/MediaStreamRecorder.js'></script>
    <script src='javascript/main.js'></script>
</head>
<body>

    {{{body}}}

</body>
</html>